###########################################################
###################### General Setup ######################
###########################################################

############## PROJECT CONST ##############
PROJ_NAME=<nome-progetto>
APPLICATION_NAME=<nome-applicativo>
PROJ_VERSION=0.0.1
SCHEMA=<schema-utilizzato>
HOST=<host-progetto>
FE_PORT=<porta-front-end-vue.js>
BE_PORT=<porta-back-end-spring>
TEST=TEST
DEV=DEV
PROD=PROD
PROFILE=<profilo-in-uso>
BASE_URL="${SCHEMA}://${HOST}"
MS_NAME=<nome-ms>
MS_VERSION=<versione-ms>
BE_URL="${BASE_URL}:${BE_PORT}/${MS_NAME}/${MS_VERSION}"
FE_URL="${BASE_URL}:${FE_PORT}"

############## Services ##############
POSTGRES=pg
POSTGRES_SERVICE_NAME="${POSTGRES}-${PROFILE}"

KEYCLOAK=kc
KEYCLOAK_SERVICE_NAME="${KEYCLOAK}-${PROFILE}"

############## Postgres ##############
POSTGRES_EXTERNAL_PORT=<porta-docker-esterna-postgres>
PG_HOSTNAME_LOCALHOST="${HOST}"

############## Keycloak ##############
KC_INTERNAL_PORT=<porta-docker-interna-keycloak>
KC_EXTERNAL_PORT=<porta-docker-esterna-keycloak>
KC_HOSTNAME_LOCALHOST="${HOST}"
KC_REALM_NAME="${PROJ_NAME}"

############## Nome container ##############
PG_CONTAINER="${APPLICATION_NAME}-${POSTGRES_SERVICE_NAME}"
KC_CONTAINER="${APPLICATION_NAME}-${KEYCLOAK_SERVICE_NAME}"

############## Nome database ##############
POSTGRES_DB_NAME="${APPLICATION_NAME}-${PROFILE}"

DEFAULT_ENV=DEV

############## Configurazione TEST ##############
TEST_USER=<nome-utente-test>
TEST_PASSWORD=<password-utente-test>

############## Configurazione DEV ##############
DEV_USER=<nome-utente-prod>
DEV_PASSWORD=<password-utente-prod>

############## Configurazione PROD ##############
PROD_USER=<nome-utente-prod>
PROD_PASSWORD=<password-utente-prod>

############## Configurazione da usare ##############
POSTGRES_USER="${TEST_USER}"
POSTGRES_PASSWORD="${TEST_PASSWORD}"
POSTGRES_DB="${POSTGRES_DB_NAME}"

############## CONTAINER LOCATION ##############
DB_POSTGRES_CONTAINER_LOCATION=/docker-entrypoint-initdb.d
DB_PG_LOCAL_LOCATION=./database/postgres
DB_PG_AUTH_HUB_LOCATION="${DB_PG_LOCAL_LOCATION}/auth_hub"
DB_PG_ALARION_LOCATION="${DB_PG_LOCAL_LOCATION}/alarion"

############## FILE NAME ##############
PERSON_DDL_NAME=<file-name-ddl-person>
PERSON_DUMP_NAME="<file-name-dump-person>_${PROFILE}"
GROUP_DUMP_NAME=<file-name-dump-group>
DASHBOARD_DDL_NAME=<file-name-ddl-dashboard>
DASHBOARD_DUMP_NAME=<file-name-dump-dashboard>
ABILITIES_DUMP_NAME=<file-name-dump-abilities>

############## Google ##############
GOOGLE_REDIRECT_URI="${BASE_URL}:${BE_PORT}/login/oauth2/code/google"
VITE_GOOGLE_LOGIN_URL="${BE_URL}/oauth2/authorization/google"
GOOGLE_CLIENT_ID=<google-client-id>
GOOGLE_CLIENT_SECRET=<google-client-secret>

############## PayPal ##############
# https://developer.paypal.com/dashboard/
PAYPAL_CLIENT_ID=<paypal-client-id>
PAYPAL_CLIENT_SECRET=<paypal-client-secret>
PAYPAL_USERNAME=<paypal-username>
PAYPAL_PASSWORD=<paypal-password>
PAYPAL_SIGNATURE=<paypal-signature>
