###########################################################
###################### General Setup ######################
###########################################################

############## PROJECT CONST ##############
PROJ_NAME=
APPLICATION_NAME=
PROJ_VERSION=
SCHEMA=
HOST=
FE_PORT=
BE_PORT=
TEST=
DEV=
PROD=
PROFILE=
BASE_URL=
MS_NAME=
MS_VERSION=
BE_URL=

############## Services ##############
POSTGRES=
POSTGRES_SERVICE_NAME=

KEYCLOAK=
KEYCLOAK_SERVICE_NAME=

############## Postgres ##############
POSTGRES_EXTERNAL_PORT=
PG_HOSTNAME_LOCALHOST="${HOST}"

############## Keycloak ##############
KC_INTERNAL_PORT=
KC_EXTERNAL_PORT=
KC_HOSTNAME_LOCALHOST="${HOST}"
KC_REALM_NAME="${PROJ_NAME}"

############## Nome container ##############
PG_CONTAINER=
KC_CONTAINER=

############## Nome database ##############
POSTGRES_DB_NAME=

DEFAULT_ENV=

############## Configurazione TEST ##############
TEST_USER=
TEST_PASSWORD=
TEST_HOST=

############## Configurazione DEV ##############
DEV_USER=
DEV_PASSWORD=

############## Configurazione PROD ##############
PROD_USER=
PROD_PASSWORD=

############## Configurazione da usare ##############
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

############## CONTAINER LOCATION ##############
DB_POSTGRES_CONTAINER_LOCATION=
DB_PG_LOCAL_LOCATION=
DB_PG_AUTH_HUB_LOCATION=
DB_PG_ALARION_LOCATION=
PERSON_DDL_NAME=
GROUP_DUMP_NAME=
DASHBOARD_DDL_NAME=
PERSON_DUMP_NAME=
DASHBOARD_DUMP_NAME=
ABILITIES_DUMP_NAME=
SCRIPT=
ASSET_FILE_EXCEL=
TABLE_NAME=

############## Google ##############
GOOGLE_REDIRECT_URI=
VITE_GOOGLE_LOGIN_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

############## PayPal ##############
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_USERNAME=
PAYPAL_PASSWORD=
PAYPAL_SIGNATURE=
